.card__container {
  background-color: var(--container-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 2rem;
  border-radius: 1.25rem;
  transition: 0.3s;
}

.card__container:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card__icon {
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: var(--mb-1);
}

.card__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
  margin-bottom: var(--mb-1);
}

.card__description {
  font-size: var(--small-font-size);
  color: var(--text-color);
  margin-bottom: var(--mb-1);
}

.card__button {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  color: var(--title-color);
  font-size: var(--small-font-size);
  cursor: pointer;
}

.card__button-icon {
  font-size: 1rem;
  transition: 0.3s;
}

.card__button:hover .card__button-icon {
  transform: translateX(0.25rem);
}

/* ================BREAKPOINTS================= */
@media screen and (max-width: 992px) {
  .card__container {
    padding: 1.5rem;
  }
}

@media screen and (max-width: 768px) {
  .card__container {
    padding: 1.25rem;
  }
  
  .card__icon {
    font-size: 1.5rem;
  }
} 